<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ProtectedDiary</title>
    <link rel="stylesheet" href="~/css/site.css">
    <script defer src="~/js/bundle.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="#" class="logo"><h1>限定公開日記</h1></a>
            <nav class="nav">
                <ul>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a href="#">投稿</a>
                        </li>
                        <li class="nav-item" id="submenu" @@click="openSubmenu" v-click-outside="close">
                            <a>@this.User.Claims.ScreenName()</a>
                            <ul class="submenu" :class="{ 'active': isActive }">
                                <li class="submenu-item">
                                    <a href="#">日記</a>
                                </li>
                                <li class="submenu-item">
                                    <form method="post" asp-controller="Authentication" asp-action="SignOut">
                                        <button class="signout-button" type="submit">サインアウト</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-controller="Authentication" asp-action="SignIn">サインイン</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer></footer>
</body>
</html>