<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ProtectedDiary</title>
    <link rel="stylesheet" href="~/css/site.css">
    <script defer src="~/js/bundle.js"></script>
</head>

<body>
    <header class="header">
        <div class="header-container">
            <div class="header-contents">
                <div class="logo">
                    <a asp-page="/Index">限定公開日記</a>
                </div>
                <nav class="nav" id="nav">
                    <ul>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a asp-page="/Diaries/New">投稿</a>
                            </li>
                            <li class="nav-item" @@click="openSubmenu" v-click-outside="close">
                                <a>@this.User.Claims.ScreenName()</a>
                                <ul class="submenu" :class="{ 'active': isActive }">
                                    <li class="submenu-item">
                                        <a asp-page="/UserDiaries" asp-route-userId="@this.User.Claims.UserId()">日記</a>
                                    </li>
                                    <li class="submenu-item">
                                        <form method="post" asp-controller="Authentication" asp-action="SignOut">
                                            <button class="signout-button" type="submit">サインアウト</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Authentication" asp-action="SignIn">サインイン</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="main" id="app">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer></footer>
</body>

</html>