.diary-inner {
  max-width: 800px;
  margin: 0 auto;
}

.diary-title {
  margin-top: 50px;
  font-size: 4rem;
}

.diary-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 1.5rem;
  border-bottom: solid 1px rgb(196, 193, 193);
}

.diary-content {
  margin-top: 50px;
  white-space: pre-wrap;
  font-size: 1.7rem;
}

.diary-createdAt {
  display: block;
}

.author {
  display: flex;
  padding: 0px 0px 10px;

  &-icon {
    border-radius: 50%;
  }

  &-name {
    vertical-align: text-bottom;
  }

  &-detail {
    margin-left: 10px;
  }
}

.posted-inner {
  max-width: 560px;
  margin: 0 auto;
  .posted-header {
    margin-top: 80px;
    text-align: center;
  }

  .posted-buttons {
    margin-top: 30px;
    text-align: center;
  }
}