.form {
  text-align: center;
  margin: 0 auto;
}

.input-content, 
.input-title {
  border: 2px solid #dbdbdb;
  border-radius: 0.3em;

  &:focus {
    outline: 0;
    border-color: #3273dc;
    box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
    border-radius: 0.3em;
  }
}

.text-danger {
  display: inline-block;
  margin-top: 5px;
  width: 100%;
  text-align: left;
  font-size: 1.7rem;
  color: #fa3333
}

.input-title {
  display: inline-block;
  font-size: 3rem;
  width: 100%;
  font-weight: 500;
  letter-spacing: 0.06em;
}

.input-content {
  display: block;
  width: 100%;
  height: 600px;
  font-size: 1.7rem;
  resize: none;
}

.title-field,
.content-field {
  margin-top: 40px;
}

.title-field {
  height: 70px;
}

.content-field {
  height: 630px;
}

.submit-field {
  margin-top: 25px;
  text-align: right;
}