@charset "utf-8";
@use 'var' as *;
@use 'media' as *;


[v-cloak] {
  display: none;
}

.container {
  width: 100%;
  max-width: map-get($layout, content-max-width);
  margin-right: auto;
  margin-left: auto;
  padding: 0 3rem;

  @include media-breakpoint-down(md) {
    padding: 0 1rem;
  }

  @include media-breakpoint-down(lg) {
    padding: 0 1.5rem;
  }
}

.main {
  margin-top: 4rem;
  margin-bottom: 60px;

  @include media-breakpoint-down(md) {
    margin-top: 2rem;
  }
}

.text-center {
  text-align: center;
}

.button {
  text-align: center;
  display: inline-flex;
  padding: 0.4em 1.5em;
  font-size: 1.8rem;
  color: #222222;
  background: #fff;
  border-radius: 0.2em;
  border: solid 1px #e6e6e6;
  text-decoration: none;
  justify-content: center;
  align-items: center;

  &:hover {
    transition: 0.2s ease-in-out;
    border-color: #a8abb1;
  }
}

.button-submit {
  background: #ffdf6a;
  border: none;
  width: 150px;

  &:hover {
    background: #fad242;
  }
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-block {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}