@page
@model ProtectedDiary.Pages.Diaries.PostedModel

@{
    ViewData["Title"] = "投稿完了";
    var diary = Model.Diary;
    var tweetText = $"日記を投稿しました！ {diary.Title}&url=https://{this.Request.Host}{Url.Page("../Diary", new { userId = diary.UserId, id = diary.Id })}";
    var tweetUrl = $"https://twitter.com/intent/tweet?text={tweetText}";
}

<h1 class="posted-header">投稿完了！</h1>

<div>
    <div class="posted-buttons">
        <a href="@tweetUrl" class="button" target="_brank" rel="noopener">ツイートする</a>
    </div>
    <div class="posted-buttons">
        <a class="button" asp-page="../UserDiaries" asp-route-userId="@diary.UserId">日記一覧へ</a>
        <a class="button" asp-page="../Diary" asp-route-userId="@diary.UserId" asp-route-id="@diary.Id">日記を見る</a>
    </div>
</div>